* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #22252a;
  color: white;
  font-family: system-ui;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  max-width: 1200px;
  margin: auto;
}

h1 {
  margin: 20px auto 0;
}

p {
  margin: 5px auto;
  text-align: center;
  font-size: 18px;
  /* color: #3f69ff; */
  color: transparent;
  display: inline-block;
  background-image: linear-gradient(
    43deg,
    #3f69ff 0%,
    #7491fa 50%,
    #ffffff 100%
  );

  -webkit-background-clip: text;
  background-clip: text;
}

.container {
  margin: 50px auto;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}

details {
  font-size: 20px;
  max-width: 400px;
  cursor: pointer;
}

ol {
  text-align: center;
  color: #3f69ff;
}

a {
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  color: white;
  font-weight: 600;
}

footer{
  width: 100%;
  position: relative;
}

em {
  position: absolute;
  bottom: 0;
}
